body {
    margin: 0%;
    padding: 0%;
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;

    &-p {
        font-size: 34px;
        color: #fff;

        @media screen and (max-width: 327px) {
            font-size: 24px;
            padding-bottom: 20px;
        }

    }

    &-plb {
    color: #fff;

    @media screen and (max-width: 327px) {
        display: block;
        font-size: 14px;
        padding: 0px 50px 0px 50px;
    }
    }

    &-input {
    position: relative;
    bottom: 25px;

    width: 300px;
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    height: 55px;
    text-align:center;
    background-size: 300% 100%;

    border-radius: 20px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    @media screen and (max-width: 327px) {
        display: block;
        width: 200px;
        font-size: 14px;
    }
    }

    &-button {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
    }

    .header-button:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .header-button:active {
        color: #000
    }

    .header-button:active:after {
        background: transparent;
    }

    .header-button:hover:before {
        opacity: 1;
    }

    .header-button:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }


    .out1 {
        display: flex;
        flex-direction: column;

        &-p {
            position: relative;
            bottom: 194px;
            color: #fff;
            padding-top: 20px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 200;

            @media screen and (max-width: 756px) {
                display: flex;
                justify-content: center;
                padding: 0px 50px 0px 50px;
            }

            @media screen and (max-width: 327px) {
                font-size: 14px;
            }

        }

    }

    @import url('https://fonts.googleapis.com/css?family=Mukta:700');

    $bg: #f3f8fa;
    $white: #fff;
    $black: #282936;

    @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
    }

    * {
    box-sizing: border-box;
    &::before, &::after {
        box-sizing: border-box;
    }
    }

    &-layout_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 127px;
    }

    &-ci_text {
        position: relative;
        left: 30px;
    }


    &-learn_more {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;

        width: 12rem;
        height: auto;
    }

    &-circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $black;
        border-radius: 1.625rem;

        &:hover {
            width: 100%;
        }
    }

    &-icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;

        &:hover {
            background: $white;
            transform: translate(1rem, 0);
        }
    }

    &-arrow {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;

        &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
        }

        &:hover {
            background: $white;
            transform: translate(1rem, 0);
        }
    }

    &-button_text {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;

        color: $white;

    }

    @import url('https://fonts.googleapis.com/css?family=Mukta:700');

    $bg: #f3f8fa;
    $white: #fff;
    $black: #282936;

    @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
    }

    * {
    box-sizing: border-box;
    &::before, &::after {
        box-sizing: border-box;
    }
    }

    &-ci_text_allabay {
        position: relative;
        left: 30px;
    }


    &-learn_allabay {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;

        width: 12rem;
        height: auto;
    }

    &-circle_allabay {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $black;
        border-radius: 1.625rem;

        &:hover {
            width: 100%;
        }
    }

    &-icon_allabay {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;

        &:hover {
            background: $white;
            transform: translate(1rem, 0);
        }
    }

    &-arrow_allabay {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;

        &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
        }

        &:hover {
            background: $white;
            transform: translate(1rem, 0);
        }
    }

    &-button_text_allabay {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;

        color: $white;

    }


}

.allabay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 140px;

    @media screen and (max-width: 327px) {
        display: block;
        font-size: 14px;
        padding: 0px 50px 0px 50px;
    }
}

.header-Allabay {
    color: #fff;

    @media screen and (max-width: 327px) {
        display: block;
        font-size: 14px;
        padding: 0px 50px 0px 50px;
    }
}